# Binaries
/bin/
/bin
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below if you use dep)
# vendor/

# Go workspace file
*.code-workspace

# Node modules
node_modules/

# IDE or editor directories
.idea/
.vscode/
